.card {
  width: 500px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.picture {
  width: 100%;
  height: 180px;
  object-fit: cover;
}