.styles = {
        display: flex;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
        padding: 20px;
        margin:50px;
    },
.counter: {
        display: flex;
        align-items:center;
        justify-content: center;
        gap: 20px;
    },
.secondTitle: {
        text-decoration:underline;
    }
